body {
    margin-left: 22.5%;
    width: 50%;
    height: auto;
    font-family: 'Permanent Marker', cursive;
    color: white;
    background-color: black;
    text-shadow: 2px 2px #77231d;
}

.init {
    margin-top: 35%;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#title {
    display: flex;
    justify-content: center; 
}

#rock {
    animation: dropRock 2s linear;
}

#paper {
    animation: dropPaper 2s linear;
}

#scissors {
    animation: dropScissors 2s linear;
}

.instruct {
    display: flex;
    justify-content: center;
    animation: pulse 2s linear infinite;
}

.start-btn {
    display: flex;
    height: 70px;
    width: 100px;
    justify-content: center;
    animation: pulse 2s linear infinite;
    color: white;
    border: #77231d;
    font-size: 1em;
    font-family: 'Permanent Marker', cursive;
    background-color: #77231d;
    border-radius: 45%;
    box-shadow: 2.5px 10px 15px #252424;
}

#title {
    text-shadow: 2px 2px #77231d;
}

#walkthrough {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    animation: timeOut 7s infinite;
}

img {
    width: 150px;
    padding: 50px;
    height: auto;
    margin: 40px 40px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 50%;
    box-shadow: 5px 10px 50px #888888;
    animation: pulse2 2s infinite;
}

#rps-image3 {
    margin-left: 30%;
}

#shoot {
    display: flex;
    align-items: right;
    justify-content: right;
    font-size: 2em;
    animation: shoot 6s;
}

#scores-user, #scores-comp {
    display: inline-block;
    float: right;
    margin-right: 150px;
    font-size: 2em;
}

.comp-score, .user-score {
    display: inline-block;
    margin-left: 150px;
}

#comp-results {
    display: flex;
    justify-content: right;
    float: right;
    animation: result 10.5s;
}

#user-results {
    display: flex;
    justify-content: left;
    float: left;
    animation: result 10.5s;
}

#who-wins {
    /* animation: result 10.5s; */
}

.cr {
    display: flex;
    float: right;
    transform: translate(0px, -100px)
}

h4 {
    color: #f1f442;
    display: block;
}

@keyframes timeOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }

    50% {
     transform: scale(1, 1.1);
    }
    
    100% {
        transform: scale(1, 1);
    }
}

@keyframes pulse2 {
    0% {
        transform: scale(1, 1);
    }

    50% {
     transform: scale(1.05, 1.05);
    }
    
    100% {
        transform: scale(1, 1);
    }
}

@keyframes dropRock {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes dropPaper {
    0% {
        opacity: 0;
        transform: translateY(-400px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes dropScissors {
    0% {
        opacity: 0;
        transform: translateY(-500px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes shoot {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes result {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}